.color-tile {
    width: 10rem;
    height: 6rem;
    border: 2px solid aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #610A20;
}
.color-name {
    margin: 0;
    font-weight: 700;
}